.tarjetas{
  width: 20rem;
  margin-top: 1rem;
}
.tarjetasImg{
height: 18rem;
}
.botones{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: 2rem auto;
}
