*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a{
  text-decoration: none;
}

/*Tarjetas*/
.tarjetas{
  width: 20rem;
  margin-top: 1rem;
}
.tarjetasImg{
height: 18rem;
}
/*Botones*/
.botones{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: 2rem auto;
}
/*Menu*/

.menu{
  width: 25rem;
  justify-content: space-around;
  align-items: center;
  margin-left: 60%;
  
}
.navItem{
  color: gray;
  font-size: 1.2rem;
  text-decoration: none;
}
.logo{
  font-size: 1.5rem;
}